{% extends 'base.html' %}

{% block title %}Player Profile{% endblock %}

{% block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/player_profile.css' %}">
{% endblock %}

{% block content %}
<div class="profile-grid">

    <div class="navigation">
        <button onclick="goBack()">Back</button>
    </div>

    <div class="profile-header">
        <div class="player-photo">
            <img src="{% static 'playerimages/' %}{{ player.id }}.png" alt="Player Photo">
        </div>
        <div class="player-info">
            <ul>
                <li> {{ player.name }}</li>
                <li> {{ player.position }}</li>
                <hr/>
                <li> {{ player_team.team_name }}</li>
                <li> {{ player.nationality }}</li>
                {% load humanize %}
                <hr/>
                <li><strong>Age:</strong> {{ player.age }}</li>
                <li><strong>Price:</strong> {{ player.price|intcomma }}</li>
            </ul>
        </div>
    </div>

    <div class="player-attributes">
        <h2>Attributes</h2>
        <hr/>
        <div class="attributes-grid">
            {% for name, value in attributes.items %}
            <div class="attribute
            {% if value <= 10 %}attribute-low{% elif value <= 15 %}attribute-medium{% else %}attribute-high{% endif %}">
                {{ name }}: {{ value }}
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="player-stats">
        <h2>Season Statistics</h2>
        <hr/>
        <table>
            <thead>
            <tr>
                <th>Season</th>
                <th>Matches</th>
                <th>Goals</th>
                <th>Assists</th>
                <th>Shoots</th>
                <th>Shoots on Target</th>
                <th>Passes</th>
                <th>Dribbles</th>
                <th>Tackles</th>
                <th>Fouls</th>
                <th>Yellow Cards</th>
                <th>Red Cards</th>
                <th>Clean Sheets</th>
                <th>Conceded</th>
                <th>Saves</th>
                <th>Minutes Played</th>
            </tr>
            </thead>
            <tbody>
            {% for stat in season_stats %}
            <tr>
                <td>{{ stat.season }}</td>
                <td>{{ stat.matches }}</td>
                <td>{{ stat.goals }}</td>
                <td>{{ stat.assists }}</td>
                <td>{{ stat.shoots }}</td>
                <td>{{ stat.shootsOnTarget }}</td>
                <td>{{ stat.passes }}</td>
                <td>{{ stat.dribbles }}</td>
                <td>{{ stat.tackles }}</td>
                <td>{{ stat.fouls }}</td>
                <td>{{ stat.yellowCards }}</td>
                <td>{{ stat.redCards }}</td>
                <td>{{ stat.cleanSheets }}</td>
                <td>{{ stat.conceded }}</td>
                <td>{{ stat.saves }}</td>
                <td>{{ stat.minutesPlayed }}</td>
            </tr>
            {% endfor %}
            {% if not season_stats %}
            <tr>
                <td colspan="16">No statistics available.</td>
            </tr>
            {% endif %}
            </tbody>
        </table>
    </div>


</div>
<script>
    function goBack() {
        window.history.back();
    }

    function goForward() {
        window.history.forward();
    }
</script>
{% endblock %}