{% extends 'base.html' %}

{% block title %}Player Profile{% endblock %}

{% block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/youth_academy.css' %}">
{% endblock %}

{% block content %}
{% csrf_token %}
<div class="youth-container">
    <div class="academy-grid">
        <h2>Youth Academy Players</h2>
        <hr/>
        <div class="players-grid">
            {% for player in players %}
            <div class="player-card">
                <img src="{{ player.image }}" alt="Player Image">
                <h3>{{ player.first_name }} {{ player.last_name }}</h3>
                <hr/>
                <p>Age: {{ player.age }}</p>
                <p>Position: {{ player.position.name }}</p>
                <p>Nationality: {{ player.nationality.name }}</p>
                <p>Potential: {{ player.potential }} ★</p>
                <p>Shirt Number: {{ player.team_players.first.shirt_number|default:'N/A' }}</p>
            </div>
            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}