{% extends 'base.html' %}

{% block title %}Player Profile{% endblock %}

{% block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/youth_academy.css' %}">
{% endblock %}

{% block content %}
{% csrf_token %}
<div class="youth-container">
    <div class="academy-grid">
        <div class="players-grid">
            {% for player in players %}
            <div class="player-card">
                <img src="{{ player.image }}" alt="Player Image">
                <h3>{{ player.first_name }} {{ player.last_name }}</h3>
                <hr/>
                <p>Age: {{ player.age }}</p>
                <p>Position: {{ player.position.name }}</p>
                <p>Nationality: {{ player.nationality.name }}</p>
                <p>Potential: {{ player.potential }} ★</p>
                <div class="player-actions">
                    <form method="post" action="{% url 'players:release_player' player.id %}">
                        {% csrf_token %}
                        <button type="submit" class="release-btn">Release</button>
                    </form>
                    {% if player.age >= 18 %}
                    <form method="post" action="{% url 'players:sign_player' player.id %}">
                        {% csrf_token %}
                        <button type="submit" class="sign-btn">Sign Player</button>
                    </form>
                    {% endif %}
                </div>
            </div>

            {% endfor %}
        </div>
    </div>

    <div class="attributes-panel">

        <table class="attributes-table">
            <thead>
            <tr>
                <th>Player</th>
                {% for attribute in players.0.attributes %}
                <th>{{ attribute.name }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for player in players %}

            <tr>
                <td>{{ player.first_name }} {{ player.last_name }}</td>
                {% for attribute in player.attributes %}
                <td>
                    {{ attribute.value }}
                    <div class="progress-bar">
                        <div class="progress-fill"
                             style="width: {{ attribute.progress|floatformat:1|floatformat:1 }}%;"></div>
                    </div>
                    <span>{{ attribute.progress|floatformat:1 }}</span>

                </td>

                {% endfor %}
            </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>


</div>

{% endblock %}