{% extends "base.html" %}

{% block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/european_cup_knockouts.css' %}">
{% endblock %}

{% block content %}
{% include 'europeancups/_partial_choose_phase.html' %}

<div class="knockouts-container">
    {% for stage in knockout_stages %}
    <div class="knockout-stage">
        <div class="stage-header">
            <h2>{{ stage.stage_name }}</h2>
        </div>
        <div class="stage-matches">
            {% for match in stage.matches %}
            <div class="match">
                <div class="team home">
                    <span class="team-name">{{ match.home_team }}</span>
                </div>
                <div class="match-details">
                    {% if match.is_finished %}
                    <a href="{% url 'match:match' match.id %}" class="result-link">
                    <span class="result">
        {{ match.home_goals }} : {{ match.away_goals }}
        {% if match.penalties %}
        ({{ match.penalties.home_score }}:{{ match.penalties.away_score }})
        {% endif %}
    </span>
                    </a>

                    {% else %}
                    <span class="details">Match Not Played</span>

                    {% endif %}
                </div>

                <div class="team away">
                    <span class="team-name">{{ match.away_team }}</span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% empty %}
    <p class="no-stages">No knockout stages available yet.</p>
    {% endfor %}
</div>

{% endblock %}
