/* Knockouts Layout */
.knockouts-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
}

.knockout-stage {
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: var(--darkgreen-color);
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.stage-header {
    background-color: var(--darkergreen-color);
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    font-family: 'OLD SPORT 02 ATHLETIC NCV';
}

.stage-matches {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 10px;
    padding: 10px;
}

.match {
    flex: 1 1 calc(50% - 20px);
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.team {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Разделя елементите равномерно */
    margin: 5px 0;
}
.team.home {
    justify-content: flex-start; /* Подравняване в началото */
}

.team.away {
    justify-content: flex-end; /* Подравняване вдясно */
}

.result {
    text-align: center;
    flex: 0.5;
        align-items: center;

}

.team-logo {
    width: 30px; /* Намален размер */
    height: 30px; /* Намален размер */
    margin-right: 8px; /* По-голямо разстояние между логото и текста */
    vertical-align: middle;
    object-fit: cover;
    border-radius: 50%; /* Заоблени ръбове */
    border: 1px solid #ccc; /* Добавя лек контур за естетика */
}

.team {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.team-name {
    font-size: 14px; /* Леко намаляване на шрифта за по-добър баланс */
    font-weight: bold;
}

.team away team-name{
    margin:right;
}

.match-details {
    text-align: center; /* Центрира текста в елемента */
    flex: 0 0 auto; /* Запазва размера на елемента спрямо съдържанието */
    font-size: 18px; /* Може да нагласите размера на текста */
    font-weight: bold; /* Подчертава резултатите */
    display: flex;
    justify-content: center; /* Центрира резултата хоризонтално */
    align-items: center; /* Центрира резултата вертикално */
    min-width: 80px; /* Минимална ширина за резултатите */
}
