{% extends 'base.html' %}

{% block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/all_cups.css' %}">
{% endblock %}

{% block content %}
<div class="all-cups-container">
    <div class="dropdown-container">
        <form method="get" id="cup-form">
            <select name="cup" id="cup-select" onchange="document.getElementById('cup-form').submit();">
                {% for cup in cups %}
                <option value="{{ cup.id }}"
                        {% if selected_season_cup and cup.id == selected_season_cup.cup.id %}selected{% endif %}>
                    {{ cup.name }}
                </option>
                {% endfor %}
            </select>
        </form>
    </div>

    <!-- Информация за избраната купа -->
    {% if selected_season_cup %}
    <div class="title-box">
        <h1>{{ selected_season_cup.cup.name }}</h1>
        <p class="phase">Current Phase: {{ selected_season_cup.current_stage }}</p>
    </div>
    {% endif %}

    <!-- Мачове за избраната купа -->
    <div class="fixtures">
        {% if fixtures_grouped %}
        {% for round_stage, matches in fixtures_grouped.items %}
        <div class="round-stage">
            <h2>{{ round_stage }}</h2>
            {% for match in matches %}
            <div class="fixture">
                <img src="{{ match.home_team.logo.url }}" alt="{{ match.home_team.name }}" class="icon">
                <div class="fixture-content">
                    <a href="{% url 'teams:team_stats' match.home_team.id %}">{{ match.home_team.name }}</a>
                    <span class="score">
                    {% if match.is_played %}
                        <a href="{% url 'match:match' match.id %}">
                            {{ match.home_goals }} : {{ match.away_goals }}
                        </a>
                    {% else %}
                        TBA
                    {% endif %}
                </span>
                    <a href="{% url 'teams:team_stats' match.away_team.id %}">{{ match.away_team.name }}</a>
                </div>
                <img src="{{ match.away_team.logo.url }}" alt="{{ match.away_team.name }}" class="icon">
            </div>
            {% endfor %}
        </div>
        {% endfor %}
        {% else %}
        <p class="no-fixtures">No fixtures available for the selected cup.</p>
        {% endif %}

    </div>
    {% endblock %}
</div>