.filters {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.filter-button {
    margin: 0 10px;
    padding: 10px 15px;
    background-color: var(--darkergreen-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-button:hover {
    background-color: #0056b3;
}

.filter-button.active {
    background-color: #0056b3;
    color: #fff;
    font-weight: bold;
}

.players-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.player-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: var(--darkergreen-color);
    color: white;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.player-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.player-image {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.player-info {
    padding: 15px;
}

.player-name {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.player-team,
.player-position {
    margin-bottom: 5px;
    color: white;
}

.player-stats {
    font-size: 0.9em;
    color: white;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination .step-links {
    margin: 0;
    padding: 0;
}

.pagination a,
.pagination span {
    margin: 0 5px;
    padding: 8px 12px;
    text-decoration: none;
    color: #000;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.pagination a:hover {
    background-color: #f0f0f0;
}
