h1 {
    text-align: center;
    color: #222; /* Тъмен цвят за текста */
    font-family: 'OLD SPORT 02 ATHLETIC NCV', sans-serif;
    font-size: 2.5em;
    margin-bottom: 20px;
    text-transform: uppercase;
}

/* Стил за контейнера на таблицата */
.table-container {
    margin: 20px auto;
    padding: 20px;
    background-color: var(--darkgreen-color); /* Светъл фон за контраста */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Мек сенчест ефект */
    overflow-x: auto; /* Скрол при тесни екрани */
    max-width: 95%;
}

/* Стил за самата таблица */
table {
    width: 100%;
    border-collapse: collapse; /* Без разстояние между клетките */
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 0.95em;
    background-color: var(--darkgreen-color); /* Бял фон за таблицата */
    border: 1px solid #ddd; /* Бордюр около таблицата */
}

/* Стил за хедъра */
th {
    background-color: var(--green-color); /* Бял фон за таблицата */
    color: white; /* Бял текст */
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #ccc;
    position: sticky; /* Фиксиран хедър */
    top: 0;
    z-index: 2;
}

/* Клетки на таблицата */
td {
    padding: 12px;
    border: 1px solid #ddd; /* Лек бордюр между клетките */
    color: white; /* Бял текст */
}

/* Алтернативен фон за редовете */
tbody tr:nth-child {
    background-color: var(--darkgreen-color); /* Бял фон за таблицата */
        color: white; /* Бял текст */

}

/* Hover ефект върху редовете */
tbody tr:hover {
    background-color: #e9ecef; /* Светлосин фон при задържане */
    transition: background-color 0.3s ease; /* Плавен преход */
}

/* Цени и важни числа да изпъкват */
td:last-child {
    font-weight: bold;
    color: white; /* Бял текст */
}

/* Стил за линковете в таблицата */
a {
    color: white; /* Бял текст */
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #0056b3; /* По-тъмен син цвят */
    text-decoration: underline;
}

/* Стил за пагинацията */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 10px 0;
    font-family: 'Arial', sans-serif;
}

.pagination a {
    margin: 0 5px;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-decoration: none;
    color: #007bff;
    background-color: #f8f9fa;
    transition: all 0.3s ease;
}

.pagination a.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.pagination a:hover:not(.active) {
    background-color: #e9ecef;
}

