h1 {
    text-align: center;
    color: #222; /* Тъмен цвят за текста */
    font-family: 'OLD SPORT 02 ATHLETIC NCV', sans-serif;
    font-size: 2.5em;
    margin-bottom: 20px;
    text-transform: uppercase;
}

/* Стил за контейнера на таблицата */
.table-container {
    margin: 20px auto;
    padding: 20px;
    background-color: var(--darkgreen-color);
    border-radius: 10px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-size: 0.85em;
    table-layout: auto;
}

/* Стил за хедъра и клетките */
th, td {
    padding: 5px;
    border: 1px solid #ddd;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Алтернативен фон за редовете */
tbody tr:nth-child(odd) {
    background-color: var(--darkgreen-color); /* Тъмен фон за редовете */
    color: white; /* Бял текст */
}

tbody tr:nth-child(even) {
    background-color: var(--darkergreen-color);
    color:white;
}

/* Hover ефект върху редовете */
tbody tr:hover {
    background-color: #e9ecef; /* Светлосин фон при задържане */
    color: #333; /* Тъмен текст при задържане */
    transition: background-color 0.3s ease;
}


th {
    font-weight: bold;
    background-color: var(--darkergreen-color); /* Тъмен фон за заглавията */
    color: white; /* Бял текст */
    text-transform: uppercase; /* Главни букви */
}

td:last-child {
    font-weight: bold;
    color: #007bff;
}

td img.icon {
    width: 60px;
    height: auto;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family: 'Arial', sans-serif;
}

.pagination a {
    margin: 0 5px;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-decoration: none;
    color: #007bff;
    background-color: #f8f9fa;
    transition: all 0.3s ease;
}

.pagination a.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.pagination a:hover:not(.active) {
    background-color: #e9ecef;
}

/* Допълнителни малки оптимизации */
table {
    word-wrap: break-word;
    max-width: 100%;
}
