.container{
    background-color:black;
    padding:10px;
}

.sport-card {
    width: 270px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    background-color: gray;
    border:5px solid white;
    text-align: center;
}

.sport-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.player-image img {
    width: 100%;
    height: auto;
    border-bottom: 3px solid black; /* Отделна рамка под снимката */
}

.player-info {
    padding: 20px;
    color: white;
    font-weight:800;
}

.player-info h2 {
    font-size: 1.
