.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Разстояние между картите */
    justify-content: center; /* Подравняване в центъра */
}

.sport-card {
    flex: 1 1 calc(20% - 20px); /* 20% ширина с отстъп от 20px */
    max-width: 200px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.sport-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.player-image img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
    border-radius: 10px 10px 0 0;
}

.player-info {
    padding: 10px;
}

.player-info h2 {
    font-size: 1.2em;
    margin: 0.5em 0;
}

.player-info p {
    margin: 0.2em 0;
    color: #555;
}

.attributes p {
    font-size: 0.9em;
    margin: 0.1em 0;
}

@media (max-width: 800px) {
    .sport-card {
        flex: 1 1 calc(50% - 20px); /* По 2 карти на ред при по-малки екрани */
    }
}

@media (max-width: 500px) {
    .sport-card {
        flex: 1 1 calc(100% - 20px); /* По една карта на ред при още по-малки екрани */
    }
}