.table-container {
    background-color: var(--darkgreen-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    color: white;
    margin: auto;
    width:100%;
}

.table-responsive{
    overflow:hidden;
}

h1 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: white;
}

.table {
    color: white;
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
}

.table thead th {
    background-color: var(--darkergreen-color);
    font-weight: bold;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    color: white;
    border-bottom: 2px solid black;
}

.table tbody tr {
    background-color: var(--darkgreen-color);
    font-size: 14px;
    color: white;
}


.table tbody tr:hover {
    background-color: rgba(0, 100, 0, 0.5);
    transition: background-color 0.3s ease;
}

.table tbody td {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid black;
}

.make-offer-btn {
    font-size: 14px;
    padding: 8px 12px;
    background-color: var(--darkergreen-color);
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.make-offer-btn:hover {
    background-color: black;
    color: white;
}

.row.mb-3 input,
.row.mb-3 select {
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 10px;
}

.row.mb-3 input:focus,
.row.mb-3 select:focus {
    outline: none;
    border: 2px solid white;
}

/* DataTables Footer */
.dataTables_wrapper {
    color: white;
}

.dataTables_wrapper .dataTables_filter input {
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
}

.dataTables_paginate .paginate_button {
    background-color: rgba(0, 100, 0, 0.8);
    color: white;
    border: 1px solid white;
    padding: 5px 10px;
    margin: 0 3px;
    border-radius: 3px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dataTables_paginate .paginate_button:hover {
    background-color: black;
    color: white;
}

.dataTables_paginate .paginate_button.current {
    background-color: white;
    color: green;
    font-weight: bold;
}

.modal-content {
    border-radius: 10px;
    background-color: var(--darkgreen-color);
    color: white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.modal-header {
    border-bottom: 1px solid #ccc;
    padding: 15px 20px;
}

.modal-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.modal-body {
    padding: 20px;
}

.modal-body .player-info {
    text-align: center;
    margin-bottom: 20px;
}

.modal-body .player-info img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}

.modal-body .player-info p {
    margin: 5px 0;
    font-size: 16px;
    color: white;
}

.modal-footer {
    padding: 15px;
    justify-content: center;
}

.btn-close {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.btn-primary {
    background-color: var(--darkergreen-color);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-primary:hover {
    background-color: black;
    transform: scale(1.05);
}

.btn-secondary {
    background-color: gray;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-secondary:hover {
    background-color: black;
}
table.dataTable thead th {
    cursor: pointer;
}
