<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Match Preview</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/match.css' %}">
    {% include 'menu/_navbar.html' %}
</head>

<body>

<div class="match-container">

    <div class="score-bar" style="font-size:50px;font-family:OLD SPORT 01 COLLEGE NCV">
        <div class="team home-team">{{ match.home_team.name }}</div>
        <div class="score">
            {{ match.home_goals }} - {{ match.away_goals }}
            <div class="match-time">{{ current_minute }}'</div>
        </div>
        <div class="team away-team">{{ match.away_team.name }}</div>
    </div>

    <!-- Home Team Lineup -->
    <div class="lineup lineup-home">
        <h3>{{ match.home_team.name }}</h3>
        <table>
            <thead>
            <tr>
                <th colspan="2">Name</th>
                <th>P</th>
                <th>G</th>
                <th>A</th>
                <th>S</th>
                <th>S</th>
                <th>P</th>
                <th>D</th>
                <th>T</th>
                <th>Y</th>
                <th>R</th>
                <th>S</th>
                <th>C</th>
            </tr>
            </thead>
            <tbody>
            {% for player_data in home_lineup %}
            <tr>
                <td colspan="2">{{ player_data.player.first_name }} {{ player_data.player.last_name }}</td>
                <td>{{ player_data.player.position.abbr }}</td>
                <td>{{ player_data.stats.Goals|default:0 }}</td>
                <td>{{ player_data.stats.assists|default:0 }}</td>
                <td>{{ player_data.stats.shoots|default:0 }}</td>
                <td>{{ player_data.stats.shootsOnTarget|default:0 }}</td>
                <td>{{ player_data.stats.passes|default:0 }}</td>
                <td>{{ player_data.stats.dribbles|default:0 }}</td>
                <td>{{ player_data.stats.tackles|default:0 }}</td>
                <td>{{ player_data.stats.yellowCards|default:0 }}</td>
                <td>{{ player_data.stats.redCards|default:0 }}</td>
                <td>{{ player_data.stats.saves|default:0 }}</td>
                <td>{{ player_data.stats.conceded|default:0 }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No players found.</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Match Events Section -->
    <div class="match-events">
        {% if current_time < match.start_time %}
        <h4>Starting At {{ match.start_time|date:"H:i" }}</h4>
        {% elif current_time >= match.start_time and current_time < match.end_time %}
        <h4 style="color:red">Live</h4>
        {% else %}
        <h4>End</h4>
        {% endif %}
        <hr/>
        <div class="match-events-container">
            {% for event in events|dictsortreversed:"minute" %}
            <p>{{ event.minute }}' - {{ event.description }}</p>
            {% empty %}
            <p>No events yet.</p>
            {% endfor %}
        </div>

        <!-- Button for next event -->
        <div class="button-container">
            <form action="{% url 'match:next_event' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="match_id" value="{{ match.id }}">
                <button type="submit" class="next-event-button">Next Event</button>
            </form>
        </div>

    </div>

    <!-- Away Team Lineup -->
    <div class="lineup lineup-away">
        <h3>{{ match.away_team.name }}</h3>
        <table>
            <thead>
            <tr>
                <th colspan="2">Name</th>
                <th>P</th>
                <th>G</th>
                <th>A</th>
                <th>S</th>
                <th>S</th>
                <th>P</th>
                <th>D</th>
                <th>T</th>
                <th>Y</th>
                <th>R</th>
                <th>S</th>
                <th>C</th>
            </tr>
            </thead>
            <tbody>
            {% for player_data in away_lineup %}
            <tr>
                <td colspan="2">{{ player_data.player.first_name }} {{ player_data.player.last_name }}</td>
                <td>{{ player_data.player.position.abbr }}</td>
                <td>{{ player_data.stats.Goals|default:0 }}</td>
                <td>{{ player_data.stats.assists|default:0 }}</td>
                <td>{{ player_data.stats.shoots|default:0 }}</td>
                <td>{{ player_data.stats.shootsOnTarget|default:0 }}</td>
                <td>{{ player_data.stats.passes|default:0 }}</td>
                <td>{{ player_data.stats.dribbles|default:0 }}</td>
                <td>{{ player_data.stats.tackles|default:0 }}</td>
                <td>{{ player_data.stats.yellowCards|default:0 }}</td>
                <td>{{ player_data.stats.redCards|default:0 }}</td>
                <td>{{ player_data.stats.saves|default:0 }}</td>
                <td>{{ player_data.stats.conceded|default:0 }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No players found.</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>
</body>

</html>
