.filter-container{
    text-align:center;

}

.filter-container input[type="date"] {
    background: white;
    border:2px solid black;
    color: var(--green-color);
    font-weight:500;
    text-align:center;
    height:30px;
}

.filter-container button{
    background-color: white;
    border:1px solid black;
    color:green;
    font-weight:600;
    height:30px;
}

.filter-container button:hover {
    background-color: black;
    border:1px solid black;
    color:green;
    font-weight:600;
}


.livescore-container {
    width: 70%;
    margin: 10px auto;
    max-width: 1200px;
    font-family: 'OLD SPORT 02 ATHLETIC NCV';
    color:white;
}

.navigation-container {
    text-align: center;
}

.navigation-container a {
    margin: 0 10px;
    text-decoration: none;
    color:white;
}

.navigation-container a:hover {
    color: var(--blue-color);
}

.league {
    margin-bottom: 20px;
    border: 1px solid #333;
    border-radius: 8px;
    background-color: var(--darkgreen-color);
}

.league-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: var(--green-color);
    border-bottom: 1px solid #333;
    color:black;
}

.league-name {
    font-weight: bold;
    font-size: 16px;
}

.match {
    display: grid;
    grid-template-columns: 60px 40px 1fr 60px 1fr 80px 40px; /* Добавя колона за стрелката */
    align-items: center;
    justify-items: center;
    padding: 10px;
    border-bottom: 1px solid #333;
    font-family:"Varsity Regular";
     color:white;
}

.match:last-child {
    border-bottom: none;
}

.time,
.status,
.team,
.score,
.half-score {
    text-align: center;
}

.score-link{
    text-decoration:none;
    color: var(--green-color);
}

.score-link:hover{
    color: var(--blue-color);
}

.toggle-button {
    cursor: pointer;
    text-align: center;
    color: var(--blue-color);
}

.toggle-button:hover {
    color: var(--white-color);
}

.goalscorers-panel {
    background-color: #f4f4f4;
    padding: 10px;
    border-top: 1px solid #ddd;
}

.goalscorers {
    margin: 5px 0;
}

.goalscorers ul {
    list-style-type: none;
    padding: 0;
}