.livescore-container {
    width: 70%;
    margin: 10px auto;
    max-width: 1200px;
    font-family: 'Varsity Regular';
    color: white;
}

.navigation-container a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
}

.navigation-container a:hover {
    color: var(--blue-color);
}

.league {
    margin-bottom: 20px;
    border: 1px solid #333;
    border-radius: 8px;
    background-color: var(--darkgreen-color);
}

.league-header {
    text-align: center;
    padding: 10px;
    background-color: var(--green-color);
    border-bottom: 1px solid #333;
    color: black;
    font-weight: bold;
}

.match {
    display: grid;
    grid-template-columns: 60px 40px 1fr 60px 1fr 80px 40px;
    align-items: center;
    justify-items: center;
    padding: 10px;
    border-bottom: 1px solid #333;
}

.match:last-child {
    border-bottom: none;
}

.home-team,
.away-team {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Varsity Regular';
    color: white;
}

.team-logo {
    height: 20px; /* Fixed size for logo */
    width: auto; /* Maintain aspect ratio */
    margin-right: 5px; /* Space between logo and text */
    vertical-align: middle; /* Align logo with text */
}

.score-link {
    text-decoration: none;
    color: var(--green-color);
}

.score-link:hover {
    color: var(--blue-color);
}

.toggle-button {
    cursor: pointer;
    color: var(--blue-color);
}

.toggle-button:hover {
    color: white;
}

.goalscorers-panel {
    background-color: #f4f4f4;
    padding: 10px;
    border-top: 1px solid #ddd;
}

.goalscorers ul {
    list-style-type: none;
    padding: 0;
}
