.filter-container{
    text-align:center;
}
.livescore-container {
    width: 70%;
    margin: 10px auto;
    max-width: 1200px;
    font-family:"Varsity Regular"
    color:white;
}

.navigation-container {
    text-align: center;
}

.navigation-container a {
    margin: 0 10px;
    text-decoration: none;
    color:white;
}

.navigation-container a:hover {
    color:red;
}

.league {
    margin-bottom: 20px;
    border: 1px solid #333;
    border-radius: 8px;
}

.league-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #444;
    border-bottom: 1px solid #333;
        font-family:"Varsity Regular";
        color:white;

}

.league-name {
    font-weight: bold;
    font-size: 16px;
    font-family:"Varsity Regular"

}

.match {
    display: grid;
    grid-template-columns: 60px 40px 1fr 60px 1fr 80px 40px; /* Добавя колона за стрелката */
    align-items: center;
    justify-items: center;
    padding: 10px;
    border-bottom: 1px solid #333;
    font-family:"Varsity Regular";
     color:white;
}

.match:last-child {
    border-bottom: none;
}

.time,
.status,
.team,
.score,
.half-score {
    text-align: center;
}

.toggle-button {
    cursor: pointer;
    text-align: center;
}

.goalscorers-panel {
    background-color: #f4f4f4;
    padding: 10px;
    border-top: 1px solid #ddd;
}

.goalscorers {
    margin: 5px 0;
}

.goalscorers ul {
    list-style-type: none;
    padding: 0;
}