
.image {
    height:160px;
    width: 150px;
}
.sort-container {
    text-align: center;
    margin-top:50px;
}

.sort-dropdown {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.coach-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.5rem;
    padding: 2rem;
    justify-content: center;
}

.coach-card h2 {
    margin: 0.5rem 0;
    color: var(--white-color);
}

.coach-card {
    background-color: var(--darkergreen-color);
    border: 3px solid white;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.coach-card p {
    margin: 0.3rem 0;
    color: white;
}

.hire-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 1px;
}

.hire-button:hover {
    background-color: #45a049;
}

@media (max-width: 1200px) {
    .coach-grid {
        grid-template-columns: repeat(3, 1fr); /* 3 колони на по-малки екрани */
    }
}

@media (max-width: 768px) {
    .coach-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 колони на таблет */
    }
}

@media (max-width: 576px) {
    .coach-grid {
        grid-template-columns: 1fr; /* 1 колона на мобилни устройства */
    }
}
