:root {
    --white-color: rgba(255, 255, 255, 1);
    --white-transparent: rgba(255, 255, 255, 0.5);
    --black-color: #333;
    --light-grey: #d3d3d3;
    --blue-color: #02c1f3;
    --green-color: rgba(4, 170, 109, 1);
    --darkgreen-color: rgba(0,47,47,255);
}

html,body{
    background-image: url("../images/welcomebackground.jpg"); /* Уверете се, че пътят е правилен */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -120px; /* Преместване на фона надолу с 100px */
    height:100%;
}

.mt-4 {
    color: white;
    font-weight:900;
    font-size:50px;
    margin-top: 100px;
        font-family: 'OLD SPORT 02 ATHLETIC NCV';

}

.container{
    height: 100%;
    align-content: center;

}

.card{
    height: max;
    margin-bottom: auto;
    width: 600px;
    background-color: var(--darkgreen-color);
    border:3px solid lightblue;
}

.card-header h3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
        font-family: 'OLD SPORT 02 ATHLETIC NCV';

    color: var(--blue-color);
}

.input-group-prepend span{
width: 50px;
background-color: var(--blue-color);
color: black;
border:0 !important;
    font-family: 'OLD SPORT 02 ATHLETIC NCV';

}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: var(--blue-color);
width: 100px;
    font-family: 'OLD SPORT 02 ATHLETIC NCV';

}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

.card-footer {
    background-color:var(--darkgreen-color);
    padding: 15px;
    border-top: 3px solid #dee2e6;
}

.card-title{
    justify-content: center;
}

hr{
    width:500px;
    text-align:center;
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid lightblue;
  }

.selected-avatar {
    border: 3px solid blue;
}
.avatar-img {
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s;
}

.avatar-img:hover {
    border: 2px solid lightblue;
}

.selected-avatar {
    border: 3px solid blue !important;
}
