{% extends 'base.html' %}
{% block title %}Select Your Line-Up{% endblock %}

{% block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/my_team.css' %}">
{% endblock %}

{% block content %}

<h1>{{ team.name }}</h1>
<div class="team-info">
    <p><strong>Stadium:</strong> {{ team.stadium }}</p>
    <p><strong>Coach:</strong> {{ team.coach }}</p>
    <p><strong>Founded:</strong> {{ team.founded_date }}</p>
</div>

<div class="team-logo">
    <img src="{{ team.logo.url }}" alt="{{ team.name }} Logo">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Change Logo</button>
    </form>
</div>

<div class="team-options">
    <ul>
        <li><a href="">View Squad</a></li>
        <li><a href="">View Team Stats</a></li>
        <li><a href="">Set Line Up</a></li>
    </ul>
</div>
{% endblock %}