{% extends 'base.html' %}

{% block title %}All Players{% endblock %}

{% block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/squad.css' %}">
{% endblock %}

{% block content %}
<div class="table-container">
    <div class="table-section player-info">
        <div class="section-title">Player Info</div>
        <table>
            <thead>
                <tr>
                    <th>N</th>
                    <th>Name</th>
                    <th>P</th>
                    <th>🏴</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in players_data %}
                <tr>
                    <td>1</td>
                    <td>{{ entry.player.first_name }} {{ entry.player.last_name }}</td>
                    <td>{{ entry.player.positionabbr }}</td>
                    <td>{{ entry.player.nationalityabbr }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" class="text-center">Няма налични играчи</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="table-section player-stats">
        <div class="section-title">Statistic</div>
        <table>
            <thead>
                <tr>
                    <th>⚽</th>
                    <th>🤝</th>
                    <th>💥</th>
                    <th>💢</th>
                    <th>🦶</th>
                    <th>💨</th>
                    <th>❎</th>
                    <th>🟨</th>
                    <th>🟥</th>
                    <th>💉</th>
                    <th>🧤</th>
                    <th>🥅</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in players_data %}
                <tr>
                    <td>{{ entry.season_stats.goals }}</td>
                    <td>{{ entry.season_stats.assists }}</td>
                    <td>{{ entry.season_stats.shoots }}</td>
                    <td>{{ entry.season_stats.shootsOnTarget }}</td>
                    <td>{{ entry.season_stats.passes }}</td>
                    <td>{{ entry.season_stats.dribbles }}</td>
                    <td>{{ entry.season_stats.tackles }}</td>
                    <td>{{ entry.season_stats.yellowCards }}</td>
                    <td>{{ entry.season_stats.redCards }}</td>
                    <td>{{ entry.season_stats.fouls }}</td>
                    <td>{{ entry.season_stats.saves }}</td>
                    <td>{{ entry.season_stats.conceded }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="table-section player-attributes">
        <div class="section-title">Attributes</div>
        <table>
            <thead>
                <tr>
                    <th>R</th>
                    <th>H</th>
                    <th>R</th>
                    <th>F</th>
                    <th>S</th>
                    <th>T</th>
                    <th>P</th>
                    <th>C</th>
                    <th>T</th>
                    <th>S</th>
                    <th>D</th>
                    <th>B</th>
                    <th>D</th>
                    <th>S</th>
                    <th>V</th>
                    <th>W</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in players_data %}
                <tr>
                    <td>{{ entry.attributes.Reflexes }}</td>
                    <td>{{ entry.attributes.Handling }}</td>
                    <td>{{ entry.attributes.Reflexes }}</td>
                    <td>{{ entry.attributes.Finishing }}</td>
                    <td>{{ entry.attributes.Shooting }}</td>
                    <td>{{ entry.attributes.Technique }}</td>
                    <td>{{ entry.attributes.Passing }}</td>
                    <td>{{ entry.attributes.Crossing }}</td>
                    <td>{{ entry.attributes.Tackling }}</td>
                    <td>{{ entry.attributes.Strength }}</td>
                    <td>{{ entry.attributes.Determination }}</td>
                    <td>{{ entry.attributes.BallControl }}</td>
                    <td>{{ entry.attributes.Dribbling }}</td>
                    <td>{{ entry.attributes.Speed }}</td>
                    <td>{{ entry.attributes.Vision }}</td>
                    <td>{{ entry.attributes.WorkRate }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
