<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team List</title>
    <link rel="stylesheet" href="">  <!-- Add your CSS file -->
</head>
{% include '_navbar.html' %}
<body>
    <h1>Team List</h1>
    <table>
        <thead>
            <tr>
                <th>Team Name</th>
                 <th>Team abbr</th>
            </tr>
        </thead>
        <tbody>
            {% for team in teams %}
            <tr>
                <td>{{ team.name }}</td>
                <td>{{ team.abbr }}</td>
                <td>
                     <form action="{% url 'delete_team' team.id %}" method="POST" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td>No teams created yet.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form method="POST">
        {% csrf_token %}
        <button type="submit">Generate Team</button>
    </form>
</body>
</html>
