<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Stats</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/team_stats.css' %}">
</head>
<body>
    {% include 'menu/_navbar.html' %}

    <div class="container">
        <h1>Team Stats for {{ team.name }}</h1>

        <div class="stats-graph-container">
            <section class="team-season-stats">
                <h2>Season Statistics</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Y</th>
                            <th>S</th>
                            <th>M</th>
                            <th>W</th>
                            <th>D</th>
                            <th>L</th>
                            <th>GF</th>
                            <th>GA</th>
                            <th>GD</th>
                            <th>P</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stat in season_stats %}
                            <tr>
                                <td>{{ stat.season.year }}</td>
                                <td>{{ stat.season.season_number }}</td>
                                <td>{{ stat.matches }}</td>
                                <td>{{ stat.wins }}</td>
                                <td>{{ stat.draws }}</td>
                                <td>{{ stat.losses }}</td>
                                <td>{{ stat.goalScored }}</td>
                                <td>{{ stat.goalConceded }}</td>
                                <td>{{ stat.goalDifference }}</td>
                                <td>{{ stat.points }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>

            <section class="team-performance-graph">
                <h2>Performance Over Seasons</h2>
                <img src="data:image/png;base64,{{ img }}" alt="Team Performance Graph" style="max-width:100%; height:auto;">
            </section>
        </div>
    </div>

</body>
</html>
