body {
    font-family: Arial, sans-serif;
        background-color: #105469 !important; /* Set the background color for the body */
}

h2 {
    margin-bottom: 20px;
}

.table {
    border: 5px solid black;
    margin-bottom: 40px;
}

.table td, .table th {
    text-align: center;
    vertical-align: middle; /* Center text vertically */
}

.grid-container {
text-align:center;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    gap: 20px; /* Space between columns */
}

.grid-item {
    background-color: #fff; /* Optional: background for the items */
    padding: 15px; /* Padding inside the grid items */
    border: 5px solid #E2B842; /* Border around each item */
    border-radius: 5px; /* Rounded corners */
}

select{
text-align:center;
}

.attribute-table {
    font-size: 10px;  /* Increase font size if needed */
}

.attribute-table th, .attribute-table td {
    padding: 2px;  /* Decrease padding for a more compact look */
}

.attribute-table th {
    font-weight: bold;
}

.attribute {
    background-color: #e1f5fe; /* Light blue background for attributes */
    color: #0d47a1; /* Dark blue text color */
}

.stat {
    background-color: #e8f5e9; /* Light green background for stats */
    color: #2e7d32; /* Dark green text color */
}

.table tbody tr:hover {
    background-color: #f1f1f1;
    color: red;
    font-weight: 700;
}
.table td {
    vertical-align: middle; /* Aligns content vertically in the middle */
}

.table td strong {
    display: inline-block; /* Aligns the attribute names nicely */
    margin-right: 5px; /* Adds a little space between attribute name and value */
}
