.schedule-container {
    margin-top: 40px;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 колони */
    gap: 20px;
    width: 100%; /* Ширина на мрежата */
    margin: 0 auto;
}

.calendar-day {
    border: 1px solid #ccc;
     width: 100%;
    height: auto;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 15px;
    color: white;
    font-family: 'OLD SPORT 02 ATHLETIC NCV';
    box-shadow: 1px 1px 4px 1px grey;
    background-color: var(--darkgreen-color);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.calendar-day img {
    max-width: 100%; /* Уверете се, че изображенията не надвишават контейнера */
    height: auto;
}

.calendar-day:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.calendar-header {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
    font-style: italic;
    color: var(--white-color);
}

.calendar-matches {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.calendar-match {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

.calendar-match:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.match-time {
    font-size: 14px;
    color: white;
    margin-bottom: 8px;
}

.match-teams {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #555;
    gap: 5px;
}

.opponent {
    color: white;
    font-size: 18px;
    font-weight: 800;
    font-family: 'OLD SPORT 02 ATHLETIC NCV';
}

.match-details {
    text-align: center;
    font-style: italic;
}

.no-fixtures {
    font-size: 18px;
    color: #ccc;
    text-align: center;
    margin-top: 50px;
}

/* Мобилна адаптивност */
@media (max-width: 768px) {
    .calendar-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 колони на таблети */
    }
}

@media (max-width: 480px) {
    .calendar-grid {
        grid-template-columns: 1fr; /* 1 колона на мобилни устройства */
    }
}
