.table-container{
    background-color: var(--darkgreen-color);
    color:white;

}
#squad-table {
    color: white;
    background-color: var(--darkgreen-color);
    border-radius: 10px;
    overflow: hidden;
    font-size: 14px; /* Компактен шрифт */
}

/* Стил за колони */
th, td {
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ddd;
    padding: 5px; /* Намален padding */
    max-width: 150px; /* Ограничение на ширината */
    white-space: nowrap; /* Всичко на един ред */
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: var(--darkgreen-color);
        color:white

}

/* Заглавията на колоните */
#squad-table th {
    cursor: pointer;
    text-decoration: underline;
    font-size: 14px;
}

#squad-table th:hover {
    color: #f2f2f2;
    background-color: var(--darkgreen-color);
}

/* Тяло на таблицата */
#squad-table tbody tr {
    background-color: var(--darkgreen-color);
}

#squad-table tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* За снимките на играчите */
.player-photo {
    width: 40px; /* Намален размер */
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
}

/* Стил за навигацията и търсенето */
.dataTables_wrapper .dataTables_filter input,
.dataTables_wrapper .dataTables_length select {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    background-color: var(--darkgreen-color);
    color: white;
    font-size: 14px;
    width: 100px; /* Намален размер */
}

/* Пагинация */
.dataTables_wrapper .dataTables_paginate .paginate_button {
    border: 1px solid #ddd;
    padding: 5px;
    margin: 2px;
    color: white;
    background-color: var(--darkgreen-color);
    border-radius: 5px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background-color: #555;
}
