body {
    background-color: #105469 !important; /* Set the background color for the body */
}

.container {
    margin-top: 20px;
    padding: 0; /* Remove padding to ensure full width */
    width: 100%; /* Set container width */
}

.fixed-table {
    border: 5px solid #00001a; /* Dark border around the entire table */
    border-collapse: collapse;
    width: 100%; /* Set width to 100% to make it full width */
    max-width: none; /* Remove max width restriction */
    margin: 0; /* Remove auto margin to stretch fully */
    background-color: white; /* Set a white background for the table */
}

.fixed-table th, .fixed-table td {
    border: 1px solid #dddddd; /* Adds inner border for all cells */
    text-align: center;
    vertical-align: middle;
    font-size: 14px; /* Default font size */
    padding: 10px;
}

.player-info-border {
    border-right: 2px solid #00001a; /* Add right border for full height */
}

.player-name {
    width: 200px;
}

.shirt-number,
.age,
.nat,
.pos {
    width: 40px;
}
