.team-stats-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 20px;
}

.team-info {
    flex: 1;
    background-color: var(--darkgreen-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.team-logo {
    width: 100%;
    max-width: 200px;
    margin-bottom: 20px;
}

.team-players {
    flex: 2;
    background-color: var(--darkgreen-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.players-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
}

.player-card {
    text-align: center;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.player-image {
    width: 100%;
    max-width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}
