<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Football Manager</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'welcome.css' %}">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Football Manager Game!</h1>
        <p>Manage your team, players, and finances like a real football manager.</p>
        <a href="{% url 'accounts:login' %}">Login</a>
        <a href="{% url 'accounts:signup' %}">Register</a>
        <a href="{% url 'game:home'  %}" class="button">Main Menu</a>
        <a href="{% url 'admin:index'  %}" class="button">Admin</a>
        <a href="{% url 'accounts:admin_dashboard'  %}">My Admin</a>
    </div>
</body>
</html>
