<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Your Page Title{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_css %}
    {% endblock %}
</head>

<body>

<!-- Включване на navbar -->
{% include 'navbar.html' %}

<div class="container">
    <div class="content">
        {% block content %}
        <div class="menus">
            {% for background in backgrounds %}
            <div class="menu" style="background-image: url('{{ background }}');">
                <h1>Menu {{ forloop.counter }}</h1>
            </div>
            {% endfor %}
        </div>

        {% endblock %}
    </div>
</div>

{% include 'footer.html' %}


<!-- Добавяне на Bootstrap JavaScript и Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
<script>
    let hasNewOfferBeenNotified = false;
    function checkForNewOffers() {
        fetch('/transfers/check_new_offers/', {
            method: 'GET',
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.success && data.new_offers > 0 && !hasNewOfferBeenNotified) {
                Swal.fire({
                    title: 'New Transfer Offer!',
                    text: 'You have ' + data.new_offers + ' new transfer offer(s).',
                    icon: 'info',
                    confirmButtonText: 'View Offers'
                }).then(result => {
                    if (result.isConfirmed) {
                        window.location.href = '/transfers/negotiations/';
                    }
                });
                hasNewOfferBeenNotified = true;

            }
        })
        .catch(error => {
            console.error('Error checking for new offers:', error);
        });
    }

    setInterval(checkForNewOffers, 10000);
</script>
</body>
</html>
