{% extends 'base.html' %}

{% block title %}My Team - Squad{% endblock %}

{% block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/squad.css' %}">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">

{% endblock %}

{% block content %}
<div class="table-container">
    <table id="squad-table" class="display responsive nowrap" style="width:100%">
        <thead>
        <tr>
            <th>#</th>
            <th>Photo</th>
            <th>Name</th>
            <th>Age</th>
            <th>Position</th>
            <th>Nationality</th>
            <th>🕘</th>
            <th>⚽</th>
            <th>🤝</th>
            <th>💥</th>
            <th>🧤</th>
            <th>🧹</th>
            <th>🟨</th>
            <th>🟥</th>
        </tr>
        </thead>
        <tbody>
        {% for player in players_data %}
        <tr>

            <td>{{ player.shirt_number|default:"-" }}</td>
            <td>
                {% if player.personal_info.image_url %}
                <img src="{{ player.personal_info.image_url }}" alt="{{ player.personal_info.name }}"
                     class="player-photo">
                {% else %}
                <img src="{% static 'images/default_player.png' %}" alt="Default Photo" class="player-photo">
                {% endif %}
            </td>
            <td>
                <a href="{% url 'players:player_profile' player.personal_info.id %}">{{ player.personal_info.name|default:"-" }}</a>
            </td>
            <td>{{ player.personal_info.age }}</td>
            <td>{{ player.personal_info.positionabbr|default:"-" }}</td>
            <td>{{ player.personal_info.nationality|default:"-" }}</td>
            <td>{{ player.stats.season_stats.Matches }}</td>
            <td>{{ player.stats.season_stats.Goals }}</td>
            <td>{{ player.stats.season_stats.Assists }}</td>
            <td>{{ player.stats.season_stats.Shoots }}</td>
            <td>{{ player.stats.season_stats.Saves }}</td>
            <td>{{ player.stats.season_stats.CleanSheets }}</td>
            <td>{{ player.stats.season_stats.YellowCards }}</td>
            <td>{{ player.stats.season_stats.RedCards }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.min.js"></script>
<script>
    $('#squad-table').DataTable({
     responsive: true,
     scrollX: true,
     order: [],
     columnDefs: [
         { targets: '_all', className: 'dt-center' }
     ],
     language: {
         search: "Search:",
         lengthMenu: "Show _MENU_ players",
         info: "Showing _START_ to _END_ of _TOTAL_ players",
         paginate: {
             first: "First",
             last: "Last",
             next: "Next",
             previous: "Previous"
         }
     }
 });

</script>
{% endblock %}

{% block extra_js %}

{% endblock %}
