h2 {
    font-family: 'OLD SPORT 02 ATHLETIC NCV';
    margin-top: 0;
}

/* Page layout */
.news-page {
    display: flex;
    height: 100vh;
    border:2px solid darkgreen;
}

/* Sidebar styles */
.news-sidebar {
    background-color: var(--darkgreen-color);
    width: 30%;
    border-right: 2px solid black;
    padding: 20px;
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.news-sidebar h2 {
    font-family: 'OLD SPORT 02 ATHLETIC NCV';
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: white;
}

.news-list {
    background-color: var(--darkgreen-color);
    list-style: none;
    padding: 0;
    margin: 0;
}

.news-item,
 .news-item.read{
    color:white;
    padding: 15px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

/* Стил за непрочетени съобщения */
.news-item.unread {
background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
font-weight: bold;

}

.news-item:hover {
    background-color: grey;
    color:black;
    transform: scale(1.00);
    box-shadow: 5px 5px 5px 5px black;
}

.news-item h3 {
    margin: 0 0 5px;
    font-size: 1.2rem;
    color:white;
    font-weight:bolder;
}

.news-item p {
    margin: 0;
    font-size: 0.8rem;
    color: white;
}

.news-item a {
    text-decoration: none;
}

.date-text{
    font-style:italic;
    font-size: 0.7rem;
    text-decoration: none;
}

/* Detail view styles */
.news-detail {
    flex: 1;
    padding: 20px;
    border: 2px solid darkgreen;
}

.news-detail h2 {
    font-size: 1.8rem;
    color: #444;
    padding-bottom: 10px;
    margin-bottom: 2px;
    color: white;
}

.news-detail p {
    font-size: 1rem;
    line-height: 1.6;
    color: white;
    word-wrap: break-word; /* Разбива дългите думи на нов ред */
    word-break: break-word; /* Разбива текста, когато е твърде дълъг */
    text-align: justify; /* Подравняване на текста по ширина */
}


#searchbar
form {
    margin-bottom: 0px;
}

form input {
    padding: 5px;
    font-size: 1rem;
    width: 100%;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
background-color: black;
color:white;

}

