.news-grid {
    display: grid;
    grid-template-columns: 100%;
    gap: 20px;
    margin: 20px;
    padding:10px;
    border-radius: 8px;
}

.news-item {
    background: linear-gradient(to right, #f2f2f2, #d9d9d9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 1px 1px 1px 1px black;
}

.main-news {
    grid-column: span 1;
}

.news-item h1, .news-item h2 {
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .news-grid {
        grid-template-columns: 100%;
    }

    .news-grid .news-item:nth-child(n+2):nth-child(-n+4) {
        grid-column: span 1;
    }
}

@media (min-width: 1024px) {
    .news-grid {
        grid-template-columns: repeat(3, 1fr); /* Три колони при по-голям екран */
    }

    .news-item {
        padding: 15px;
    }

    .main-news {
        grid-column: span 3; /* Главната новина ще заема целия ред */
    }
}
