html, body {
    font-family: 'Arial', sans-serif;
background: linear-gradient(to bottom right, #000d1a, #001f33); /* Много тъмно синьо към по-тъмно синьо */
    color: #333333; /* Тъмно сив текст за контраст */
    margin: 0; /* Премахва отстоянията по подразбиране */
}


.container {
    width: 90%; /* Ограничаваме ширината до 90% от родителския контейнер */
    max-width: 1920px; /* Максимална ширина от 2100px */
    margin: 80px auto; /* Центрираме контейнера и задаваме отстояние отгоре */
    padding: 0 10px;
    box-sizing: border-box;
}

.content {
    width: 100%; /* Съдържанието ще запълва целия контейнер */
}

