body {
     background-image: url("../images/background.jpg"); /* Проверете дали пътят е правилен */
    background-size: cover; /* Разтяга изображението така, че да покрива целия екран */
    background-repeat: no-repeat; /* Предотвратява повторението */
    background-attachment: fixed; /* Запазва фона фиксиран при скролиране */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100%;
    margin-top: 120px;
}

/* Основно съдържание */
.content {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #444;
}

/* Footer стилове */
.footer {
    background-color: #222;
    color: #fff;
    margin-top: 50px;
}

.footer p {
    margin: 0;
    font-size: 14px;
}
