:root {
    --white-color: rgba(255, 255, 255, 1);
    --white-transparent: rgba(255, 255, 255, 0.5);
    --black-color: #333;
    --light-grey: #d3d3d3;
    --blue-color: #02c1f3;
    --green-color: rgba(4, 170, 109, 1);
    --darkgreen-color: rgba(0,47,47,255);
}

body {
     background-image: url("../images/background.jpg"); /* Проверете дали пътят е правилен */
    background-size: cover; /* Разтяга изображението така, че да покрива целия екран */
    background-repeat: no-repeat; /* Предотвратява повторението */
    background-attachment: fixed; /* Запазва фона фиксиран при скролиране */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100%;
    margin-top: 120px;
}

/* Основно съдържание */
.content {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #444;
}

/* Footer стилове */
.footer {
    background-color: #222;
    color: #fff;
    margin-top: 50px;
}

.footer p {
    margin: 0;
    font-size: 14px;
}


a {
    text-decoration: none;  /* Махане на подчертаването */
    color: inherit;  /* Запазване на наследения цвят */
}

a:hover {
    color: var(--blue-color);  /* Промяна на цвета на червен при hover */
}

img.icon {
              width: 32px; /* Можете да промените размера според нуждите */
              height: 32px; /* Поддържайте пропорциите */
              border-radius: 50%; /* Заобляне на краищата, за да стане кръгло */
              border: 1px solid var(--black-color); /* 1 пиксел рамка, използвайки черен цвят */
          }

/* Основни изображения */
img.main-image {
    max-width: 100%; /* Позволява на изображението да не надминава ширината на контейнера */
    height: auto; /* Поддържа съотношението на размерите */
}