{% extends 'base.html' %}

{% block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div class="container main-content mt-4">
    <!-- Първи ред: Следващ мач -->
    <div class="row team-next-match">
        <!-- Информация за отбора -->
        <div class="col-md-6">
            <div class="card team-info h-100">
                <div class="card-header">Team Overview</div>
                <div class="card-body">
                    <div class="team-details">
                        <div class="team-logo">
                            <img src="{% static 'logos/Bat.jpg' %}" alt="{{ team.name }} Logo"
                                 class="team-logo-icon rounded-border">
                        </div>
                        <div class="team-detail">
                            <span class="detail-value highlight">{{ user_team }}</span>
                        </div>
                        <div class="team-detail">
                            <span class="detail-value highlight">{{ user_team.division }}</span>
                        </div>
                        <div class="team-detail">
                            <span class="detail-value highlight">{{ user_team.points }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Следващ мач -->
        <div class="col-md-6">
            <div class="card highlighted-card poster-card h-100">
                <a href="{% url 'match:user_match' %}" class="card-header" style="text-decoration: none;">Next Match</a>
                <div class="card-body poster-body">
                    <div class="match-details">
                        <div class="match-info">
                            <p><strong>Opponent:</strong> <span class="highlight">{{ next_match.opponent }}</span></p>
                            <p class="highlight">{{ next_match.division }}</p>
                            <p><strong>Date:</strong> <span class="highlight">{{ next_match.match_date }}</span></p>
                            <p><strong>Time:</strong> <span class="highlight">{{ next_match.match_time }}</span></p>
                        </div>
                        <div class="opponent-info">
                            <img src="{% static 'logos/Bull.jpg' %}" alt="Opponent Icon"
                                 class="opponent-icon rounded-border">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Втори ред: Статистики и класации -->
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">Latest News</div>
                    <div class="card-body">
                        <!-- Latest News -->
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">Standings</div>
                    <div class="card-body table-container">
                        <table class="table table-sm">

                            <tbody>
                            {% for team in standings %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><img src="{% static 'logos/Bull.jpg' %}" style="width:40px; border-radius: 50%;"/>
                                </td>
                                <td>{{ team.team.name }}</td>
                                <td>{{ team.points }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">Top Players</div>
                    <div class="card-body table-container">
                        <table class="table table-sm">
                            <tbody>
                            {% for player in players %}
                            <tr>
                                <td>{{ player.personal_info.name }}</td>
                                <td>
                                    {% for stat in player.season_stats %}
                                    {% if stat.statistic == 'goals' %}
                                    {{ stat.value }}
                                    {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for stat in player.season_stats %}
                                    {% if stat.statistic == 'assists' %}
                                    {{ stat.value }}
                                    {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for stat in player.season_stats %}
                                    {% if stat.statistic == 'rating' %}
                                    {{ stat.value }}
                                    {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Трети ред: График, трансфери, финанси -->
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">Schedule</div>
                    <div class="card-body table-container">
                        <table class="table table-sm">

                            <tbody>
                            {% for match in schedule %}
                            <tr>
                                <td>{{ match.date }}</td>
                                <td>{{ match.opponent }}</td>
                                <td>{{ match.location }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">Latest Transfers</div>
                    <div class="card-body">
                        <!-- Latest Transfers -->
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">Finance Overview</div>
                    <div class="card-body">
                        <!-- Финанси -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
