<!-- game/templates/home/mainmenu.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Menu</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'mainmenu.css' %}">
</head>
<body>
    <!-- Navbar inclusion -->
    {% include 'menu/_navbar.html' %}

    <div class="content">
        <h1>Main Menu Content</h1>
        <!-- Add any additional content for the main menu page here -->
    </div>
</body>
</html>
