{% extends 'base.html' %}

{% block title %}Transfer Market{% endblock %}

{% block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/transfer_market.css' %}">
<link rel="stylesheet" href="{% static 'css/player_offer_modal.css' %}">
{% endblock %}

{% block content %}
{% load humanize %}

<div class="transfer-market">
    <h1>Transfer Market</h1>

    <div class="user-budget">
        <p> Balance({{ user.team.name }}): {{ team_balance|intcomma }}</p>
    </div>

    <!-- Filter and Sort Section -->
    <div class="filter-container">
        {% include 'players/_players_filter.html' %}
    </div>

    <!-- Players Table -->
    <div class="table-container">
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Pos</th>
                <th>Nationality</th>
                <th>Age</th>
                <th>Agent</th> <!-- Добавена колона за агент -->
                <th title="Handling">HND</th>
                <th title="Reflexes">RFX</th>
                <th title="Finishing">FIN</th>
                <th title="Shooting">SHT</th>
                <th title="Technique">TEC</th>
                <th title="Passing">PAS</th>
                <th title="Crossing">CRS</th>
                <th title="Tackling">TCK</th>
                <th title="Strength">STR</th>
                <th title="Determination">DET</th>
                <th title="Speed">SPD</th>
                <th title="Vision">VIS</th>
                <th title="WorkRate">WRK</th>
                <th>Price</th>
                <th>Offer</th>
            </tr>
            </thead>
            <tbody>
            {% for player in players %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'players:player_profile' player.id %}">{{ player.name }}</a></td>
                <td>{{ player.positionabbr }}</td>
                <td>{{ player.nationality }}</td>
                <td>{{ player.age }}</td>
                <td>{{ player.agent.first_name }} {{ player.agent.last_name }}{% if not player.agent %}No Agent{% endif %}</td>
                <td>{{ player.attributes.Handling }}</td>
                <td>{{ player.attributes.Reflexes }}</td>
                <td>{{ player.attributes.Finishing }}</td>
                <td>{{ player.attributes.Shooting }}</td>
                <td>{{ player.attributes.Technique }}</td>
                <td>{{ player.attributes.Passing }}</td>
                <td>{{ player.attributes.Crossing }}</td>
                <td>{{ player.attributes.Tackling }}</td>
                <td>{{ player.attributes.Strength }}</td>
                <td>{{ player.attributes.Determination }}</td>
                <td>{{ player.attributes.Speed }}</td>
                <td>{{ player.attributes.Vision }}</td>
                <td>{{ player.attributes.WorkRate }}</td>
                <td>{{ player.price|intcomma }}</td>
                <td>
                    <button class="offer-btn" data-player-id="{{ player.id }}"
                            data-player-name="{{ player.name }}"
                            data-player-position="{{ player.positionabbr }}"
                            data-player-price="{{ player.price }}"
                            data-player-image="{{ player.image.url }}">Offer
                    </button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Pagination -->
    <div class="pagination">
        {% if players.has_previous %}
        <a href="?page={{ players.previous_page_number }}&{{ current_filters }}">&#171; Previous</a>
        {% endif %}
        <span>Page {{ players.number }} of {{ players.paginator.num_pages }}</span>
        {% if players.has_next %}
        <a href="?page={{ players.next_page_number }}&{{ current_filters }}">Next &#187;</a>
        {% endif %}
    </div>
</div>

<!-- Modal -->
{% include 'transfers/_player_offer_modal.html' %}

<script src="{% static 'js/transfer_offer.js' %}"></script>

{% endblock %}

{% block extra_js %}

{% endblock %}
