{% extends 'base.html' %}

{% block title %}Transfer History{% endblock %}

{% block extra_css %}
{% load humanize %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/transfer_history.css' %}">
{% endblock %}

{% block content %}
{% load humanize %}
<header class="header">
    <div class="dropdown">
        <select id="team-select">
            <option value="all" {% if team_id == "all" %}selected{% endif %}>All</option>
            {% for team in sorted_teams %}
            <option value="{{ team.id }}" {% if team.id|stringformat:"s" == team_id|stringformat:"s" %}selected{% endif %}>
                {{ team.name }}
            </option>
            {% endfor %}
        </select>
    </div>
</header>


<main class="transfer-history">
    <section class="transfer-card transfers-in">
        <h2>In ⬇</h2>
        <div class="transfer-header">
            <span class="transfer-date">Date</span>
            <span class="transfer-in">In</span>
            <span class="transfer-player">Player</span>
            <span class="transfer-from">From</span>
            <span class="transfer-amount">Amount</span>
        </div>
        <ul class="transfer-list">
            {% for transfer in transfers_in %}
            <li class="transfer-item">
                <span class="transfer-date">{{ transfer.transfer_date }}</span>
                <span class="transfer-in" title={{ transfer.buying_team.name }}>
                    {% if transfer.buying_team.logo %}
                        <img src="{{ transfer.buying_team.logo.url }}" alt="{{ transfer.buying_team.name }} logo"
                             class="team-logo">
                    {% else %}
                        No Logo
                    {% endif %}
                </span>
                <span class="transfer-player">
                    <a href="{% url 'players:player_profile' transfer.player.id %}">
                        {{ transfer.player.name }}
                    </a>
                </span>
                <span class="transfer-out" title={{ transfer.selling_team.name }}>
                    {% if transfer.selling_team.logo %}
                        <img src="{{ transfer.selling_team.logo.url }}" alt="{{ transfer.selling_team.name }} logo"
                             class="team-logo">
                    {% else %}
                        Free Agent
                    {% endif %}
                </span>
                <span class="transfer-amount">{% if transfer.is_free_agent %}Free{% else %}{{ transfer.amount|intcomma }}{% endif %}</span>
            </li>
            {% empty %}
            <li class="transfer-item no-transfers">No transfers in.</li>
            {% endfor %}
        </ul>
    </section>

    <section class="transfer-card transfers-out">
        <h2>Out ⬆</h2>
        <div class="transfer-header">
            <span class="transfer-date">Date</span>
            <span class="transfer-player">Player</span>
            <span class="transfer-to">To</span>
            <span class="transfer-amount">Amount</span>
        </div>
        <ul class="transfer-list">
            {% for transfer in transfers_out %}
            <li class="transfer-item">
                <span class="transfer-date">{{ transfer.transfer_date }}</span>
                <span class="transfer-player">
                    <a href="{% url 'players:player_profile' transfer.player.id %}">
                        {{ transfer.player.name }}
                    </a>
                </span>
                <span class="transfer-to" title={{ transfer.buying_team.name }}>
                    {% if transfer.buying_team.logo %}
                        <img src="{{ transfer.buying_team.logo.url }}" alt="{{ transfer.buying_team.name }} logo"
                             class="team-logo">
                    {% else %}
                        Free Agent
                    {% endif %}
                </span>
                <span class="transfer-amount">{% if transfer.is_free_agent %}Free{% else %}{{ transfer.amount|intcomma }}{% endif %}</span>
            </li>
            {% empty %}
            <li class="transfer-item no-transfers">No transfers out.</li>
            {% endfor %}
        </ul>
    </section>
</main>

<script>
    document.addEventListener('DOMContentLoaded', function () {
    const teamSelect = document.getElementById('team-select');

    teamSelect.addEventListener('change', function () {
        const selectedTeam = teamSelect.value;
        window.location.href = window.location.pathname + "?team=" + selectedTeam;
    });
});

</script>

{% endblock %}