.finance-container {
    max-width: 100%;
    margin: 3rem auto;
    padding: 2rem;
    background-color: var(--darkgreen-color);
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
    transition: transform 0.3s ease-in-out;
}

.finance-container:hover {
    transform: scale(1.01);
}

.finance-navbar {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    background-color: var(--blue-color);
    padding: 0.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-button {
    padding: 12px 25px;
    border: none;
    border-radius: 25px;
    background-color: var(--darkgreen-color);
    color: white;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-button:hover {
    background-color: var(--darkergreen-color);
    transform: translateY(-3px);
}

.nav-button.active {
    background-color: var(--darkergreen-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 1.5rem 0;
    font-size: 1rem;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

table thead {
    background-color: var(--blue-color);
    font-weight: bold;
}

table th, table td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #f0f0f0;
    color:black;
}

table tbody tr:hover {
    background: #f6f9fc;
    cursor: pointer;
    color:black;
    font-weight:bolder;
}

h2 {
    color:white;
    font-weight: bold;
}

.balance {
    color:green;
}

#team-finance-section.active,
#global-finance-section.active {
    display: block;
    animation: fadeIn 0.5s ease-in-out;
    color:white;

}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
