{% extends 'base.html' %}

{% block title %}Schedule{% endblock %}

{% block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/schedule.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="schedule-container">
        <div class="calendar-grid">
            {% for fixture in fixtures %}
            <div class="calendar-day">
                <div class="calendar-header">
                    <strong>{{ fixture.date }}</strong>
                    <hr/>
                </div>
                <div class="calendar-matches">
                    {% for match in fixture.matches %}
                    <div class="calendar-match">
                        <div class="match-teams">
                            <img src="{{ match.opponent.logo.url }}" alt="{{ match.opponent.name }} Logo">
                            <div class="opponent">{{ match.opponent }}</div>
                            <div class="match-time">{{ match.time }}</div>
                        </div>
                        {% if match.result %}
                        <div class="match-result">

                            <span class="home-score">{{ match.result.home_score }}</span> -
                            <span class="away-score">{{ match.result.away_score }}</span>
                        </div>
                        {% else %}
                        <hr/>
                        <div class="home-team">{{ match.home_away }}</div>
                        <div class="match-type">{{ match.type }}</div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% empty %}
            <div class="no-fixtures text-center">
                No fixtures available.
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
