{% extends 'base.html' %}

{% block title %}Standings{% endblock %}

{% block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/standings.css' %}">
{% endblock %}

{% block content %}
<div class="standings-container">
    <table class="standings-table">
        <thead>
        <tr>
            <th class="table-title" colspan="11">Standings</th>
        </tr>
        <tr>
            <th>#</th>
            <th>Team</th>
            <th>User</th>
            <th>M</th>
            <th>W</th>
            <th>D</th>
            <th>L</th>
            <th>GS</th>
            <th>GC</th>
            <th>GD</th>
            <th>P</th>
        </tr>
        </thead>
        <tbody>
        {% for team in standings %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td class="team-name">{{ team.team.name }}</td>
            <td style="font-size:12px; color:red">
                {% if team.team.user %}
                {{ team.team.user.username }}
                {% else %}
                COM
                {% endif %}
            </td>
            <td>{{ team.matches }}</td>
            <td>{{ team.wins }}</td>
            <td>{{ team.draws }}</td>
            <td>{{ team.losses }}</td>
            <td>{{ team.goalscored }}</td>
            <td>{{ team.goalconceded }}</td>
            <td>{{ team.goaldifference }}</td>
            <td class="points">{{ team.points }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <table class="top-players-table">
        <thead>
        <tr>
            <th class="table-title" colspan="7">Top Players</th>
        </tr>
        <tr>
            <th>#</th>
            <th>Player</th>
            <th>Team</th>
            <th>M</th>
            <th>G</th>
            <th>A</th>
            <th>Rating</th>
        </tr>
        </thead>
        <tbody>
        {% for player in players %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td class="player-name">{{ player.player.first_name }} {{ player.player.last_name }}</td>
            <td>{{ player.player.team }}</td>
            <td>{{ player.season_stats.matches }}</td>
            <td>{{ player.season_stats.goals }}</td>
            <td>{{ player.season_stats.assists }}</td>
            <td class="player-rating">{{ player.season_stats.rating }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
