{% extends 'base.html' %}

{% block title %}Standings{% endblock %}

{% block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/standings.css' %}">
{% endblock %}

{% block content %}
<div class="table-container">
    <table class="standings-table">
        <thead>
        <tr>
            <th>#</th>
            <th style="width:200px">Team</th>
            <th>M</th>
            <th>W</th>
            <th>D</th>
            <th>L</th>
            <th>GS</th>
            <th>GC</th>
            <th>GD</th>
            <th>P</th>
        </tr>
        </thead>
        <tbody>
        {% for standing in standings %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ standing.team.name }}</td>
            <td>{{ standing.matches }}</td>
            <td>{{ standing.wins }}</td>
            <td>{{ standing.draws }}</td>
            <td>{{ standing.losses }}</td>
            <td>{{ standing.goalscored }}</td>
            <td>{{ standing.goalconceded }}</td>
            <td>{{ standing.goaldifference }}</td>
            <td>{{ standing.points }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="10">No standings available.</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <table class="fixture-table">
        <thead>
        <tr>
            <th colspan="6">
                <div class="pagination">
                    {% if current_round > 1 %}
                    <a class="nav-arrow" href="?round={{ current_round|add:-1 }}">&#9664;</a> <!-- Left Arrow -->
                    {% else %}
                    <span class="nav-arrow" style="color: gray;">&#9664;</span> <!-- Disabled Left Arrow -->
                    {% endif %}
                    <span>Round {{ current_round }}</span>
                    <a class="nav-arrow" href="?round={{ current_round|add:1 }}">&#9654;</a> <!-- Right Arrow -->
                </div>
            </th>
        </tr>
        <tr>
            <th>H</th>
            <th>HG</th>
            <th>AG</th>
            <th>A</th>
        </tr>
        </thead>
        <tbody>
        {% for fixture in fixtures %}
        <tr>
            <td>{{ fixture.home_team.name }}</td>
            <td>{{ fixture.home_goals }}</td>
            <td>{{ fixture.away_goals }}</td>
            <td>{{ fixture.away_team.name }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">No fixtures available.</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
