/* Общи стилове */
.border-common {
    border: 2px solid rgba(255, 255, 255, 0.8);
}
.rounded-common {
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.8);
}
.box-shadow-common {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}
.padding-common {
    padding: 10px;
}
.transparent-border {
    border: 2px solid var(--white-transparent);
}
.common-card {
    border-radius: 10px;
    padding: 15px;
    color: var(--white-color);
    @extend .box-shadow-common;
}
.main-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Основни стилове за картата */
.card {
    @extend .common-card;
    @extend .padding-common;
    box-shadow: 0 8px 50px rgba(0, 0, 0, 0.9);
}
.card-header {
    background-color: var(--darkergreen-color);
    color: white;
    font-size: 1.5rem;
    text-align: center;
    padding: 15px;
    border-bottom: 3px solid #02c1f3;
    font-family: 'OLD SPORT 02 ATHLETIC NCV', sans-serif;
}
.card-body {
    background-color: var(--darkgreen-color);
        overflow-y: auto;
        height:300px;
        color:white;

}

.next-match-card {
    color: var(--blue-color);
    border-radius: 10px;
    padding: 10px;
    background-color: var(--darkgreen-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
        font-family: 'OLD SPORT 02 ATHLETIC NCV', sans-serif;
}

.match-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    gap: 30px;
}

.team-info,
.opponent-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 30%;
}

.team-logo img {
    width: 100px;
    height: 100px;

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.match-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Центрира съдържанието вертикално */
    gap: 10px;
    text-align: center;
    width: 40%;
    height: 150px; /* Фиксирана височина за по-добър външен вид */
    margin: 0 auto; /* Центрира блокът хоризонтално */
    background-color: var(--darkergreen-color); /* Примерен цвят за фонове */
    border: 3px solid var(--black-color); /* Граница на постера */
    border-radius: 15px; /* Заоблени ъгли на постера */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Лек сенчест ефект */
}

.match-info p {
    font-size: 1.3rem;
    color: var(--white-color);
    margin: 5px 0;
}

.btn-primary {
    padding: 10px 20px;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    background-color: #007bff;
    border: none;
    color: #ffffff;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

/* Хайлайтване на текст */
.highlight {
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

/* Стилове за иконата на противника */
.opponent-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #007bff;
    padding: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

/* Общи стилове за всички карти */
.match-button {
    padding: 5px;
}

a.card-header {
    background-color: var(--green-color)
    transition: all 0.3s ease;
}

a.card-header:hover {
    background-color: var(--green-color)
    color: #fff;
}

.table-container {
    max-height: 300px;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    background-color: rgba(0,47,47,255);
    overflow-x: auto;
}

.table {
    width: 100%;
    margin: 0 auto;
    color: white;
    border-collapse: collapse;
}

/* Стилове за таблици и подробности за отбора */
.team-info .card {
    @extend .common-card;
    background-color: rgba(0,47,47,255);
    color: black;
    @extend .border-common;
}


.team-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 300px;
    overflow-y: auto;
}

.team-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detail-label {
    flex: 1;
    text-align: right;
    padding-right: 10px;
}

.detail-value {
    flex: 2;
    text-align: left;
    padding-left: 10px;
    font-style: italic;
}

.team-logo {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.team-logo img {
    width: 120px;
    height: 120px;
    @extend .rounded-common;
}

.btn-primary {
    border:2px solid black;
    background-color: var(--green-color);
    padding: 10px 20px;
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
