.main-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card {
    background-color: transparent; /* Прозрачен фон */
    color: white; /* Текст в бял цвят */
    border: 2px solid rgba(255, 255, 255, 0.5); /* Полупрозрачен бордър */
    border-radius: 10px;
    box-shadow: 0 8px 50px rgba(0, 0, 0, 0.9); /* Сенки за стил */
    padding: 15px;
}

.card-header {
    background-color: transparent; /* Прозрачен фон */
    color: white; /* Бял текст */
    font-size: 18px;
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5); /* Полупрозрачен бордър */
}

.card-body {
    padding: 15px;
    overflow-y: auto;
    max-height: 200px;
}

.team-info .card,
.next-match .card {
    border: 2px solid rgba(255, 255, 255, 0.8); /* По-видим бордър за тези секции */
}

.team-logo img,
.opponent-icon {
    width: 60px;
    height: 60px;
}

.match-info p {
    font-size: 1.1em;
    font-weight: 500;
    margin: 5px 0;
    color: white;
}

.match-info p strong {
    color: white;
}

.match-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.poster-body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #333;
}

.stats-row,
.news-row {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Добавен разстояние между секциите */
}

.table-container {
    display: flex;
    justify-content: center;
}

.table {
    width: 90%;
    margin: 0 auto;
    color: white; /* Бял текст за таблиците */
    border-collapse: collapse;
    background-color: transparent; /* Без фон */
}

.table th,
.table td {
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.3); /* Полупрозрачна рамка */
    padding: 8px;
    text-align: center;
    background-color: transparent; /* Без фон за клетките */
}

.table th {
    font-weight: bold;
    color: white; /* Остави текста бял */
}

.table tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.05); /* Леки редуващи се цветове */
}
