.season-stats-container {
    width: 100%;
    margin: auto;
    padding: 20px;
    font-size: 12px;
}

.dropdown-container {
    text-align: center;
    margin-bottom: 20px;
}

.season-dropdown {
    padding: 10px;
    font-size: 12px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.table-container {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table-container h3 {
        text-align: center;
        margin-bottom: 10px;
    }

.table-scroll {
        max-height: 300px;
        overflow-y: auto;
    }

.stats-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
}

.stats-table th, .stats-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.stats-table th {
    background-color: #f1f1f1;
    font-weight: bold;
    color: #333333;
}

.stats-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.stats-table tbody tr:hover {
    background-color: #f1f1f1;
}

.top-gold {
    background-color: #ffd700;
}

.top-silver {
    background-color: #c0c0c0;
}

.top-bronze {
    background-color: #cd7f32;
}

.champions-container {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f3f3f3;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 12px;
}

.champions-grid {
    display: flex;
    justify-content: space-between;
}

.champions-section {
    flex: 1;
    margin: 0 10px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.champions-section h3 {
    text-align: center;
    margin-bottom: 10px;
    color: #333333;
}

.champions-section ul {
    list-style-type: none;
    padding: 0;
}

.champions-section li {
    margin: 5px 0;
    text-align: center;
    color: #555555;
}
