/* Filter */
.filter-container {
    width: 100%;
    margin: 20px auto;
    padding: 10px;
    background-color: var(--darkgreen-color);
    color: var(--white-color);
    border: 2px solid #ddd;
    border-radius: 5px;
}

.filter-container input, .filter-container select {
    margin: 5px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.filter-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.filter-row label,
.filter-row select,
.filter-row input,
.filter-row button,
.filter-row a {
    margin-right: 10px;
    flex: 1; /* Това ще направи елементите равномерно разпределени */
}

.filter-row button,
.filter-row a {
    flex: none;
}

.reset-btn {
    font-size: 10px;
}
