.header {
    display: flex;
    justify-content: space-between;
}

.dropdown {
    margin-right: 10px;
}

.transfer-history {
    display: flex; /* Използваме flexbox за да разделим страницата на две равни части */
    gap: 20px; /* Разстояние между двете секции */
}

.transfer-card {
    flex: 1;
    max-height: 600px;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background-color: #f9f9f9;
}

.transfer-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #eee;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}

.transfer-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.transfer-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.transfer-item:last-child {
    border-bottom: none;
}

.transfer-date, .transfer-player, .transfer-from, .transfer-to, .transfer-amount {
    flex: 1;
    text-align: center;
}

.transfer-player a {
    color: #007bff;
    text-decoration: none;
}

.transfer-player a:hover {
    text-decoration: underline;
}

.no-transfers {
    text-align: center;
    color: #888;
    padding: 20px;
}

.team-logo {
    width: 30px;
    height: 30px;
    object-fit: contain;
}
