.results-container {
    width:100%;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--darkgreen-color);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 12px;
    margin-bottom: 20px;
}

.filters {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.form-group select,
.form-group input[type="date"] {
    width: 100%;
    padding: 10px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    padding: 10px 20px;
    font-size: 12px;
    background-color: var(--blue-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: var(--blue-color);
}

.league {
    margin-bottom: 30px;
    text-align: center;
}

.league h2 {
    background-color: var(--blue-color);
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
}

.match {
    margin-bottom: 5px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teams {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.team {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 12px;
}

.team-logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.score {
    font-size: 12px;
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
    color: #007bff;
}

.toggle-scorers {

    font-size: 14px;
    background-color: var(--blue-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.toggle-scorers:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.scorers-list {
    display: none;
    font-size: 12px;
    color: #333;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.scorers-list span {
    display: block;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

.scorers-list span:last-child {
    border-bottom: none;
}

.goal-scorers {
    margin-top: 10px;
}

.scorers-list {
    display: flex;
    gap: 20px; /* Разстояние между колоните за домакин и гост */
    margin-top: 10px;
}

.scorers-column {
    flex: 1;
}

.scorers-column ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.scorers-column li {
    margin-bottom: 5px;
    font-size: 0.9em;
    color: #555;
}
.date-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    gap: 20px;
}

.nav-arrow {
    font-size: 1.5em;
    text-decoration: none;
    color: #007bff;
    cursor: pointer;
}

.nav-arrow:hover {
    color: #0056b3;
}