body {
            font-family: Arial, sans-serif;
            background: linear-gradient(135deg, #0e4b5b, #5cb8a6);
            color: #333;
            text-align: center;
            margin: 0;
        }

        h1 {
            color: #2c3e50;
        }

        table {
            width: 80%;
            margin: 20px auto;
            border-collapse: collapse;
            border:2px solid black;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            background-color: #fff;
        }

        th, td {
            padding: 15px;
            border: 1px solid #ddd;
        }

        th {
            background-color: #2980b9;
            color: white;
            text-transform: uppercase;
        }

        tr:nth-child(even) {
            background-color: #ecf0f1;
        }

        tr:hover {
            background-color: #dfe6e9;
            cursor: pointer;
        }

        /* Responsive design */
        @media (max-width: 768px) {
            table {
                width: 100%;
            }
        }