    {% load static %}
    <div class="sport-card">
        <div class="player-image">
            <img src="{% static 'playersImages/images/1.png' %}" alt="{{ player.player.first_name }} {{ player.player.last_name }}">
        </div>
        <div class="player-info">
            <h2>{{ player.player.first_name }} {{ player.player.last_name }}</h2>
            <p class="age">Възраст: {{ player.player.age }}</p>
            <p class="team">Отбор: {{ player.player.team }}</p>
            <p class="position">Позиция: {{ player.player.position }}</p>
            <p class="rating">Оценка: {{ player.player.price }} $</p>
            <div class="attributes">
                {% for attr, value in player.attributes.items %}
                    <p>{{ attr }}: {{ value }}</p>
                {% endfor %}
            </div>
        </div>
    </div>